body {
    margin: 0;
    background-color: #f5f0ec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.box {
    display: flex;
    align-items: center;
    background-color: #d8bfbf;
    border-radius: 15px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.box-img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    margin-right: 20px;
}

.box-text {
    flex: 1;
    text-align: left;
    padding: 10px;
}

.box-text h2 {
    margin: 0 0 10px;
    font-size: 28px;
}

.box-text p {
    margin: 0;
    color: #333;
    line-height: 1.6;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 1000px;
}

.headings {
    margin-bottom: 20px;
}

#occupied.button, #available.button {
    height: 200px;
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#occupied {
    background-color: #acb5bc;
}

#occupied.button::before {
    display: block;
    content: "Occupied"
}

#occupied.button:hover::before {
    content: "Occupied"
}

#available {
    background-color: white;
}

#available.button::before {
    display: block;
    content: "Available"
}

#available.button:hover::before {
    content: "Contact us to make a booking"
}

.kennel-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    max-width: 860px;
}

@media (max-width: 768px) {
    .kennel-grid {
        grid-template-columns: 150px 150px;
    }
    .button {
        height: 150px;
    }
}