body{
    margin: 0;
    background-color: #f5f0ec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #acb5bc;
    position: sticky; /*Made the navbar sticky*/
    top: 0; /*Sticks on top*/
    width: 100%;
    z-index: 10;
    padding: 10px 20px;
}
.navbar a{
    color:#f5f0ec ;
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover{
   background-color:#f5f0ec;
   color: black;
   border-radius: 25px;
}
.img-logo{
    margin-right: 10%;
}
.slider{
    position: relative;
    max-width: 100%;
    margin:0 auto;
    overflow: hidden;
}
.slides{
    display: flex;
    animation: slide 12s infinite;
}
.slide{
    min-width: 100%;
    transition: transform 1s ease;
}
.slide img{
    width: 100%;
    height: 70%;
}
@keyframes slide{
    0%{transform: translateX(0);}
    25%{transform: translateX(0);}
    30%{transform: translateX(-100%);}
    55%{transform: translateX(-100%);}
    60%{transform: translateX(-200%);}
    85%{transform: translateX(-200%);}
    100%{transform: translateX(0);}
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 20px;
}
.box{
    display: flex;
    align-items: center;
    background-color: #d8bfbf;
    border-radius: 15px;
    padding: 30px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.box-img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    margin-right: 20px;
}
.box-text{
    flex: 1;
    text-align: left;
    padding: 10px;
}
.box-text h2{
    margin: 0 0 10px;
    font-size: 28px;
}
.box-text p{
    margin: 0;
    color: #333;
    line-height: 1.6;
}